# Node.js
node_modules/
dist/
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
pids
logs
*.pid
*.seed
*.pid.lock
*.sql
download-ripgrepEGJEHb
# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache.
admin-dashboard.*
user-endpoints.*
nexus-1837e-firebase-adminsdk-fbsvc-9d77ea24dd.json
auth.session.sql
backup.sql
# Optional REPL history
.node_repl_history

# Environment variables
.env*

